* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  background-color: steelblue;
  color: black;
}
header h1 {
  display: flex;
  justify-content: center;
  font-size: 300%;
  margin: 0%;
}
header h2 {
  display: flex;
  justify-content: center;
  font-size: 100%;
  margin: 0;
  color: brown;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav ul {
  margin-bottom: 0;
}
nav li {
  display: flex;
  display: inline;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

main h2 {
  background-color: navy;
  color: white;
  padding: 10px;
  margin: 0;
  border-style: solid;
  border-color: black;
}
span[pic-descr] {
  position: relative;
  text-decoration: underline;
  color: #000;
}
span[pic-descr]:hover::after {
  content: attr(pic-descr);
  position: absolute;
  left: 0px;
  bottom: 100%;
  min-width: 300px;
  background-color: steelblue;
  padding: 15px;
  color: white;
  font-size: 100%;
  z-index: 1;
}
section img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.smallpic h2 {
  width: 720px;
  height: auto;
}

.smallpic img {
  width: 720px;
  height: auto;
  border-style: solid;
  border-color: black;
}
article {
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
  line-height: 1.5;
}
article ul {
  list-style-type: none;
}

article img {
  width: 200px;
  height: auto;
}
footer {
  display: flex;
  justify-content: flex-end;
  font-size: 50%;
  background-color: steelblue;
  padding: 10px;
  color: brown;
}
@media screen and (max-width: 768px) {
  main {
    min-width: 720px;
  }
  header {
    min-width: 720px;
  }
  footer {
    min-width: 720px;
  }
  article {
    min-width: 720px;
  }
  section img {
    min-width: 100%;
  }
  section h2 {
    min-width: 100%;
  }
}
